.signupbtn, .loginbtn{
    text-decoration: none;
}

.navbar-top{
    display: flex;
    height: 14vh;
    background-color: black;
    width: 100vw;
    position: relative;
    padding: 3px;
    /* right: 0.4%; */
    /* bottom: 1vh; */
}

.signUp{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 64vw;
    height: 11vh;
    justify-content: space-between;
}

.signup-div, .login-div, .demoLogin, .all-recipes{
    background-color: black;
    position: relative;
    border: 1px solid gray;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
}

#global-link{
    font-size: 4vw;
    position: relative;
    top: 20%;
    left: 5%;
}

.homelink-global{
    color: gray;
    font-size: 2.5vw;
    position: relative;
    left: 30%;
    /* bottom: 42%; */
    bottom: 16vh;
}

.signup-div{
    background-color: black;
}
.p-signup, .p-login, .linktorecipes, .demoLogin{
    color: gray;
    font-size: 2vh;
}

.icon-app-name{
    width: 25vw;
    height: 10vh;
    position: relative;
    top: 10%;
}

.text-global{
    color: gray;
    position: relative;
    top: 110px;
}

#global-link{
    position: relative;
    top: 7%;
    color: pink;

}

/* .demoLogin{
    color: gray;
    position: relative;
} */

.linktorecipes{
    color: gray;
    text-decoration: none;
}