.edit-recipe-form{
    width: 100%;
    height: 100vw;
    background-color: gray;
 }
 
 .edit-recipe-page{
     background-image: url(https://global-cuisine.s3.us-west-1.amazonaws.com/recipe-image.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     width: 37vw;
     height: 47vw;
     position: relative;
     left: 32vw;
     top: 3vw;
     font-size: 1.2vw;
     font-weight: 3000;
 }
 
 .title-edit, .ingredients-edit, .servings-edit, .picture-edit, .name-edit, .details-edit, .instruction-edit, .country-edit, .difficult-edit, .upload-edit {
     display: flex;
     width: 15vw;
     justify-content: space-between;
     align-items: center;
 }

 .upload-edit{
     width: 20vw;
 }


 #title{
     position: relative;
     font-size: 1.8vw;
     bottom: 1.5vw;
     text-decoration: underline;
 }
 
 
 .name-edit-input, .title-edit-input, .servings-edit-input, .picture-edit-input, .description-edit-input, .details-edit-input{
    width: 9vw;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 2vw;
    position: relative;
    left: 2.5vw;
    font-size: 1vw;
 }

 .ingredients-edit-input, .instruction-edit-input{
    width: 9vw;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 4vw;
    position: relative;
    left: 2.5vw;
    font-size: 0.7vw;
    line-height: 7px;
    padding: 2%;
 }

 .input-edit-image{
     width: 12vw;
     position: relative;
     left: 0.8vw;
     font-size: 0.8vw;

 }
 
 .country-input-edit, .difficulty-input-edit{
     width: 9vw;
     background: transparent;
     border-top: none;
     border-left: none;
     border-right: none;
     height: 2vw;
     position: relative;
     left: 2.5vw;
     font-size: 1vw;
 }

 .edit-center-recipe{
     width: 20vw;
     height: 25vw;
     position: relative;
     left: 7vw;
     top: 6vw;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 
 .submit-recipe{
     position: relative;
     left: 8vw;
     top: 1.5vw;
 }
 
 .submit-input{
     width: 5vw;
     height: 1.2vw;
     background: transparent;
     border: 1px solid gray;
     font-size: 0.7vw;
 }

 .edit-delete{
     display: flex;
     position: relative;
     top: 1.4vw;
     width: 16vw;
     justify-content: space-evenly;
 }

 .delete-button-recipe, .submit-button-recipe{
     font-size: 1vw;
     width: 5.5vw;
     height: 1.7vw;
     color: black;
     background: transparent;
     cursor: default;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.upload-photo{
    width: 8vw;
    height: 8vw;
}

