/* .create-recipe-form{
   width: 100%; */
   /* height: 100vw;
   background-color: gray;
   display:flex; */
/* }

.recipe-page{
   background-image: url(https://global-cuisine.s3.us-west-1.amazonaws.com/recipe-image.jpeg); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;  
    width: 80vw;
    height: 47vw; 
    position: relative;
    left: 32vw; 
}
.name-create{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.title-create, .ingredients-create, .serving-create, .description-create, .instruction-create, .country-create, .difficulty-create{
    display: flex;
    width: 15vw;
    justify-content: space-between;
    align-items: center;
}

.picture-create{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;

}

.name-text, .title-text, .ingredients-text, .serving-text, .picture-text, .description-text, .instruction-text, .country-text, .difficulty-text{
   font-size: 1vw;
   font-family: cursive;
}

.name-input, .title-input, .ingredients-input, .servings-input, .picture-input, .description-input, .instruction-input{
   width: 50vw;
   background: transparent;
   border-bottom: 1px solid black;
   border-top: none;
   border-left: none;
   border-right: none;
}

.difficulty-input, .country-input{
    width: 7.8vw;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}
.center-recipe{
    width: 60%;
    height: 60%;
    position: relative;
    left: 7vw;
    top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}


.submit-recipe{
    position: relative;
    left: 8vw;
    top: 1.5vw;
}

.submit-input{
    width: 5vw;
    height: 1.2vw;
    background: transparent;
    border: 1px solid gray;
    font-size: 0.7vw;
}

.errors-create{
    position: relative;
    left: 70vw;
    bottom: 20vw;
    color: black;
    font-size: 1vw;
}

.uploadpic-create{
    font-size: 0.7vw;
}
.letter-count{
  font-size:.6vw;
}
 */
.create-recipe-form{
   /* width: 100%;
   height: 100vh; */
   background-color: gray;
    /* display:grid;
   gap:1.5rem;
   grid-template-columns: repeat(3,1fr);
  /* align-items:center;
  justify-content: space-around; */
  
}
 .recipe-page{
   display:grid;
   gap:1.5rem;
   width:100%;
   height:100vh;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto;
  align-items:center;
  justify-content: space-around;
  font-family: 'Helvetica', 'Arial', sans-serif;
 }

.description-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-left:184px;
  border:solid black 2px;
  padding:15px;
   grid-column: 1/3;
   
 }
    .ingredients-create{
  grid-column-start:3;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  border:solid black 2px;
  padding:15px;
  grid-row:3/5;
  /* overflow-wrap:break-word; */
 }

 
 .name-create{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  border:solid black 2px;
  padding:15px;
  
 }
 .serving-create{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  border:solid black 2px;
  padding:15px;
  
 }
 .title-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border:solid black 2px;
  padding:15px;
 }
 .difficulty-create{
   display: flex;
  align-items: center;
  justify-self: center;
  border:solid black 2px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:20px;
  padding-top:20px;
 }
 .country-create{
   display: flex;
  align-items: center;
  justify-self: end;
  border:solid black 2px;
  padding-left:35px;
  padding-right:35px;
  padding-bottom:20px;
  padding-top:20px;
 }
 .header{
   padding:15px;
   font-size:25px;
    text-align: center;
     grid-column: span 3;
 }
.description-text-area{
  width:42rem;
  height:5rem;
  /* resize:none; */
  padding:5px;
  font-size:16px;
  color:grey;
  background-color: black;
  border: solid white 1px;
  text-align:left;
  font-family:inherit;
}
 .instruction-create{
   grid-column: span 3;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border:solid black 2px;
  padding:15px;
 }

.instruction-text-area{
  width:71rem;
  height:10rem;
  resize:none;
  padding:5px;
  font-size:16px;
  color:grey;
  background-color: black;
  border: solid white 1px;
  text-align:left;
  font-family:inherit;

}
.ingredients-text-area{
  width:12.7rem;
  height:16rem;
  resize:none;
  padding:5px;
  font-size:16px;
  color:grey;
  background-color: black;
  border: solid white 1px;
  text-align:left;
  font-family:inherit;
}

/* .recipe-background{
  width: 100%;
   height: 100vw;
   background-color: gray;
} */

.letter-count{
  font-family:inherit;
  font-size:.6vw;
  padding:7px;
  text-align: center;
  overflow-wrap:break-word;
}
.name-text,.title-text,.serving-text,.ingredients-text,.description-text,.difficulty-text,.country-text,.instruction-text{
  font-family: inherit;
  padding:5px;
  font-size:20px;
}
.name-input,.title-input,.servings-input,.difficulty-input,.country-input{
  padding:5px;
  font-size:18px;
  color:grey;
  background-color: black;
  border: solid white 1px;
  text-align:center;
  font-family:inherit;
}