/* .create-recipe-form{
   width: 100%;
   height: 100vw;
   background-color: gray;
   display:flex;
}

.recipe-page{
   background-image: url(https://global-cuisine.s3.us-west-1.amazonaws.com/recipe-image.jpeg); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;  
    width: 80vw;
    height: 47vw; 
    position: relative;
    left: 32vw; 
}
.name-create{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.title-create, .ingredients-create, .serving-create, .description-create, .instruction-create, .country-create, .difficulty-create{
    display: flex;
    width: 15vw;
    justify-content: space-between;
    align-items: center;
}

.picture-create{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;

}

.name-text, .title-text, .ingredients-text, .serving-text, .picture-text, .description-text, .instruction-text, .country-text, .difficulty-text{
   font-size: 1vw;
   font-family: cursive;
}

.name-input, .title-input, .ingredients-input, .servings-input, .picture-input, .description-input, .instruction-input{
   width: 50vw;
   background: transparent;
   border-bottom: 1px solid black;
   border-top: none;
   border-left: none;
   border-right: none;
}

.difficulty-input, .country-input{
    width: 7.8vw;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}
.center-recipe{
    width: 60%;
    height: 60%;
    position: relative;
    left: 7vw;
    top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}


.submit-recipe{
    position: relative;
    left: 8vw;
    top: 1.5vw;
}

.submit-input{
    width: 5vw;
    height: 1.2vw;
    background: transparent;
    border: 1px solid gray;
    font-size: 0.7vw;
}

.errors-create{
    position: relative;
    left: 70vw;
    bottom: 20vw;
    color: black;
    font-size: 1vw;
}

.uploadpic-create{
    font-size: 0.7vw;
}
.letter-count{
  font-size:.6vw;
}
 */

 .recipe-page{
   display:grid;
   gap:1.5rem;
   grid-template-columns: repeat(2,1fr);
   /* justify-items: center; */
 }
 .grid-col-span-2{
   grid-column: span 2;
 }

 .ingredients-create{
  grid-row:2/5;
  /* overflow-wrap:break-word; */
 }
 .title-create{
  
 }
.description-text-area{
  width:52.2rem;
  height:4.4rem;
  resize:none;
}
.instruction-text-area{
  width:52.2rem;
  height:10rem;
  resize:none;
}
.ingredients-text-area{
  width:11.5rem;
  height:12.1rem;
  resize:none;
}